.modalInfo{
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 999;
    width: 100vw;
    background-color: #06162b9a;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    overflow-y: auto;
    align-items: center;
    flex-direction: row;
}

.modalInfo .closeIcon{
    position: absolute;
    right: 0px;
    top: 0;
    margin: 0.4em;
    color: red;
    font-size: 3vw;
    cursor: pointer;
}

.dataItem{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 3vw 2vw;
    align-items: center;
}

.dataItem img{
    height: 200px;
    border-radius: 10px;
}

.dataItem p{
    gap: .5vw;
    font-size: 2vw;
    display: flex;
    align-items: flex-start;
    background-color: #06162bbd;
    padding: 1vw;
    border-radius: 10px;
}

.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn button{
    height: 30px !important;
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4vw;  
    transition: .4s ease-in-out;
}

.btn button:hover .heartSave{
    color: rgb(255, 74, 74);
    font-size: 1.2vw;
}

.btn button:hover .starIcon{
    color: rgb(222, 255, 74);
    font-size: 1.2vw;
}

.btn button:hover{
    background-color: #031835be;
}

#topItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

#bottomItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    justify-content: space-evenly;
}

.msg{
    background-color: rgba(255, 255, 255, 0.705);
    text-align: center;
    padding: 5px !important;
}

.contentItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    font-size: 2vw;
    align-items: center;
}

.localComments{
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2vw;
}