.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #10243F;
    color: white;
    height: 10vh;
    align-items: center;
    padding: 5px;
    font-family: 'karantina';
    font-size: 3vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.226);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}


::placeholder{
    color: rgb(211, 211, 211);
}

.iconInput{
    font-size: 1.5vw;
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
}

.icon{
    cursor: pointer;
}
form{
    width: 80%;
    display: flex;
    justify-content: center;
}
.inputAction{
    position: relative;
    width: 50%;
    display: flex;
    color: white;
    justify-content: center;
}
.iconMenu{
    display: none;
}

@media(max-width: 640px){
    .navbar{
        justify-content: space-between;
        font-size: 9vw;
    }
    form{
        display: none;
    }
    .iconMenu{
        display: flex;
    }
    .menuMob{
        display: flex;
        position: absolute;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: -9;
    }
    
    .closeMenu{
        display: none;
    }
}

