.list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    row-gap: 3vw;
    column-gap: 2vw;
}

.salvos-lista{
    display: flex;
    flex-direction: column;
    gap: 4vw;
}

.lineSaves{
    margin: 2vw 0 !important;
}

.manga-card{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1vw;
    font-size: 1.5vw;
    justify-content: space-between;
    align-items: center;
}

.image{
    height: 20vw;
}

.image img{
    height: 100%;
}

.btnInteract{
    border: none;
    width: 30px;
}

.btnInteract svg{
    font-size: 2vw;
    color: rgba(255, 80, 80, 0.459);
    transition: .4s ease-in-out;
}

.btnInteract svg:hover{
    color: red;
}
