.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #324E73;
    height: 10vh;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

a{
    color: white;
    text-decoration: none;
}


#profileIcon{
    border-radius: 20px;
    padding: 4px;
    font-size: 2.5vw;
    cursor: pointer;
    transition: .2s ease-in-out;
}

#profileIcon:hover{
    box-shadow: 1px 1px 20px 4px;
}