.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #324E73;
    height: 10vh;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

a{
    color: white;
    text-decoration: none;
}