@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Karantina", system-ui;
  overflow-x: hidden;
}

input::placeholder{
  color: rgb(255, 255, 255);
}

button{
  width: 50%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  background-color: transparent;
  color: rgb(255, 255, 255);
  transition: .5s;
}

.inputPadrao{
  background-color: #00346b;
  width: 100%;
  height: 30px;
  color: white;
  text-indent: 15px;
  outline: none;
  border-radius: 10px;
  border: 1px solid white;
  transition: .4s ease-in-out;
}

.inputPadrao:focus{
  box-shadow: 1px 1px 4px 6px #409cff;
}

.input{
  width: 30vw;
}

.errorMessage{
    color: red;
    padding: 1vw;
    border-radius: 10px;
    font-size: 2vw;
}

.successMessage{
    color: rgba(0, 128, 0, 0.74);
    padding: 1vw;
    border-radius: 10px;
    font-size: 2vw;
}

footer{
  height:30vh;
  background-color: #07111F;
}

